body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
    gap: 10px;
    flex-direction: column;


}

.barre {
    width: 100%;
     height: 15%;
    background-color: rgb(8, 0, 0);
    display: flex;
    overflow: hidden;
    text-align: center;
    position: relative;
    
}

.pointille {
    width: 90%;
    margin-left: 5%;
    border-bottom: 20px dotted aliceblue;
    position: absolute;
    height: 5%;
    top: 3%;
    z-index: inherit;
 



}

.path {
    height: 100px;
    width: 200px;
    position: relative;
    left: 0;
    top: 20%;
    /* background-color: red; */
    animation: example 15s linear infinite;
    z-index: 2;
   
    
}


.path::after{
    content: "";
    height: 50px;
    width: 120px;
    position: absolute;
    background-color: yellow;
    border-radius: 40% 40% 0 0;
    animation: cercleAfter 1s ease-in-out infinite;
    
   
}





 .path::before{
    content: "";
    width: 120px;
    height: 50px;
    border-radius:0 0 50% 50% ;
    position: absolute;
   top:50%;
    background-color: yellow;
    
    animation: cercleBefore 1s linear infinite;
} 




/* .path::before{
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 100;
    transform: rotate(90deg);
    background-color: rgb(51, 255, 0);
   
} */

.fantome {
    height: 50%;
    width: 4%;
    position: relative;
    background-color: blue;
    border-radius: 20px 20px 0 0;
    left: 0;
    top: 20%;
    z-index: 2;
    display: flex;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    animation: example 15s linear infinite, couleurFantom 10s infinite;

}

.fantome::before {
    content: '';
    position: absolute;
    bottom: -25%;
    left: 0;
    width: 100%;
    height: 24px;
    background: linear-gradient(-45deg, black 12px, transparent 0%), linear-gradient(45deg, black 12px, transparent 0%);
    background-size: 24px;
    animation: couleurFantom 10s infinite;


}

/* .triangle {
    height: 50%;
    width: 5%;
    position: absolute;
    left: 0;
    top: 20%;
    background-color: black;
    clip-path: polygon(100% 90%, 100% 13%, 28% 50%);
    animation: example 15s linear infinite, anime3 1s linear infinite;



} */

.emos {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 5%;

}

.tete {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 180px;
    height: 150px;
    border: 5px solid rgba(247, 135, 6, 0.934); 
    border-radius: 50%;
    background-color: yellow;
    box-shadow:inset 0 4px 40px 39px #FFA30A;
    /* box-shadow: rgb(229, 193, 11) inset;  */
    /* background-image: linear-gradient(yellow, rgb(247,135,13));  */
}

.tete1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tete3 {
    display: flex;
    flex-direction: row;
    gap: 35px;

}

.yeuxEmo1 {
    width: 30px;
    height: 30px;
    background-color: #F8F7ED;
    border: 2px solid #bdbdbc;
    border-radius: 50%;
  
    animation: animeBeut 2s linear infinite;
}

/*animate0 */
.yeuxEmo0 {
    width: 20px;
    height: 20px;
    margin-top: 15%;
    background-color: #F8F7ED;
    border: 2px solid #EEEDE1;
    border-radius: 50%;
    animation:  animeBeut0 1s linear infinite;
    
}
/* Fin animate0 */
.yeuxEmo2 {
    width: 30px;
    height: 30px;

    background-color: #F8F7ED;
    border: 2px solid #EEEDE1;
    border-radius: 50%;

}

.bouche {

    height: 10px;
    width: 30%;
    border-radius: 25%;
    background-color: rgb(73, 64, 64);
}

.bouche2 {

    height: 25%;
    width: 50%;
    border-radius: 10% 10% 50% 50%;
     background-color: rgba(216, 216, 42, 0.671);
     box-shadow:inset 10px 4px 40px 39px #FFA30A;
     opacity: 0.7;
    position: relative;
    border: 2px solid rgb(44, 43, 43);
    border-bottom: 8px solid rgb(77, 74, 74);
    border-left: 5px solid rgb(77, 74, 74);
    border-right: 5px solid rgb(77, 74, 74);
}

.langue {
    width: 50%;
    height: 110%;
    background-color: rgb(219, 117, 189);
    position: absolute;
    left: 25%;
    top: 40%;
    border-radius: 0 0 50% 50%;
}

.bouchTrait {

    height: 25%;
    width: 50%;
    border-radius: 50% 50% 0 0;
    border: 5px solid rgb(9, 3, 3);
    border-bottom: none;
    border-left: none;
    border-right: none;

}


.pointNoir1 {
    width: 5px;
    height: 7px;
    position: relative;
    top: 0%;
    margin-left: 10px;
    background-color: black;
    border: 2px solid rgb(100, 99, 99);
    border-radius: 50%;

}

.pointNoir11 {
    width: 5px;
    height: 7px;
    position: relative;
    top: 0%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: red;
    border-radius: 50%;

}

.pointNoir12 {
    width: 5px;
    height: 7px;
    position: relative;
    top: 0%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: blue;
    border-radius: 50%;

}

.pointNoir2 {
    margin-top: 30%;
    width: 8px;
    height: 7px;
    margin-left: 10px;
    background-color: black;
    border: 2px solid rgb(100, 99, 99);
    border-radius: 50%;
}

.oilFerme {
    margin-top: 15%;
    height: 50%;
    width: 60px;
    border-radius: 50% ;
    border: 5px solid rgb(9, 3, 3);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.beutNdaw {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
}




@keyframes example {
    0% {

        left: 0;
    }


    100% {

        left: 100%;
    }
}

@keyframes example2 {
    0% {

        left: -5%;
    }


    100% {

        left: 100%;
    }
}


/* @keyframes anime3 {
    0% {

        clip-path: polygon(100% 90%, 100% 13%, 28% 50%);
    }

    25% {



        clip-path: polygon(99% 50%, 100% 49%, 28% 50%);
    }


    75% {
        clip-path: polygon(100% 90%, 100% 13%, 28% 50%);

    }


    100% {
        clip-path: polygon(99% 50%, 100% 49%, 28% 50%);
    }
} */


@keyframes cercleAfter {
    0% {

        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0);
    }
} 


@keyframes cercleBefore{
    0% {

        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0);
    }
} 




@keyframes couleurFantom {
    0% {

        background-color: blue;
    }

    10% {



        background-color: red
    }


    20% {
        background-color: blue;

    }

    30% {
        background-color: red;

    }

    40% {
        background-color: blue;
    }

    50% {
        background-color: red;

    }

    60% {
        background-color: blue;

    }


    70% {
        background-color: brown;
    }

    80% {
        background-color: blue;

    }

    90% {
        background-color: red;

    }


    100% {
        background-color: blue;
    }
}


@keyframes animeBeut {
    0% {

        transform: rotate(0deg);
    }


    100% {

        transform: rotate(360deg);
    }
}


@keyframes animeBeut0 {
    0% {

        transform: rotate(0);
    }


    100% {

        transform: rotate(90deg);
    }
}